<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet_login</display-name>
    <servlet-name>Servlet_login</servlet-name>
    <servlet-class>Servlet.Servlet_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_login</servlet-name>
    <url-pattern>/Servlet_login</url-pattern>
  </servlet-mapping>
  <display-name>zGame</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet_signup</display-name>
    <servlet-name>servlet_signup</servlet-name>
    <servlet-class>Servlet.servlet_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_signup</servlet-name>
    <url-pattern>/servlet_signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_save</display-name>
    <servlet-name>servlet_save</servlet-name>
    <servlet-class>Servlet.servlet_save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_save</servlet-name>
    <url-pattern>/servlet_save</url-pattern>
  </servlet-mapping>
</web-app>